@model PeliculaViewModel;

@{
}


<h1>Agregar Pelicula </h1>

<form action="/Pelicula/Agregar" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nombre">Titulo</label>
        <input type="text" asp-for="Titulo" value="@Model.Titulo" class="form-control" />
        <span asp-validation-for="@Model.Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="nombre">Genero</label>
        <input type="text" asp-for="Genero" value="@Model.Genero" class="form-control" />
        <span asp-validation-for="@Model.Genero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="nombre">Fecha de estreno</label>
        <input type="date" id="FechaEstreno" name="FechaEstreno" class="form-control" asp-for="FechaEstreno" value="@Model.FechaEstreno" />
        <span asp-validation-for="@Model.FechaEstreno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="nombre">Presupuesto</label>
        <input type="number" id="Presupuesto" name="Presupuesto" class="form-control" asp-for="Presupuesto" value="@Model.Presupuesto" />
        <span asp-validation-for="@Model.Presupuesto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="nombre">Recaudacion</label>
        <input type="number" id="Recaudacion" name="Recaudacion" class="form-control" asp-for="Recaudacion" value="@Model.Recaudacion" />
        <span asp-validation-for="@Model.Recaudacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="nombre">Nomida al Oscar</label>
       <input type="checkbox" id="NominadaAlOscar" name="NominadaAlOscar" class="form-check" asp-for="NominadaAlOscar" value="@Model.NominadaAlOscar"/>

    </div>


    <div class="form-group">
        <label for="nombre">Imagen</label>
        <input type="file" id="Imagen" name="Imagen" class="form-control" asp-for="Imagen" />
        <span asp-validation-for="Imagen" class="text-danger"></span>
    </div>

    
    <input type="submit" value="Agregar" class="btn btn-primary  form-control" />


</form>
