@using Clase2.IntroMVC.Entidades;
@model List<Pelicula>
@{
    ViewData["Title"] = "Listado";
}

<h1>Listado de peliculas</h1>
<table class="table table-responsive table-striped ">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Genero</td>
            <td>Fecha estreno</td>
            <td>Presupuesto  </td>
            <td>Recaudacion  </td>
            <td>Portada </td>
            <td>Nomida al Oscar  </td>
            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>
        @foreach (Pelicula pelicula in Model)
        {
            <tr>
                <td class="align-middle">@pelicula.Titulo</td>
                <td class="align-middle">@pelicula.Genero</td>
                <td class="align-middle">@pelicula.FechaEstreno</td>
                <td class="align-middle">
                    @if (pelicula.Presupuesto.HasValue)
                    {
                        @: USD @pelicula.Presupuesto
                    }
                </td>
                <td class="align-middle">
                    @if (pelicula.Recaudacion.HasValue)
                    {
                        @:  USD  @pelicula.Recaudacion
                    }
                </td>

                <td class="align-middle"> @Html.Partial("_PortadaPartial", pelicula) </td>

                <td class="align-middle">
                    @(pelicula.NominadaAlOsccar.HasValue ? (pelicula.NominadaAlOsccar.Value ? "Fue nominada" : "No fue nominada") : "Valor desconocido")
                </td>

                <td class="align-middle">
                    <div class="d-flex align-items-center">
                        <a class="nav-link text-dark mr-2"
                           asp-area=""
                           asp-controller="Pelicula"
                           asp-action="Eliminar"
                           asp-route-id="@pelicula.Id">Eliminar</a>
                        <a class="nav-link text-dark"
                           asp-area=""
                           asp-controller="Pelicula"
                           asp-action="Actualizar"
                           asp-route-id="@pelicula.Id">Actualizar</a>
                    </div>
                </td>
           
            </tr>
        }
    </tbody>

</table>



